<html>
   <head>
        {{#block "head"}}
            {{> head}}
        {{/block}}
   </head>
    <body>
        {{#block "nav"}}
           {{> nav}}
        {{/block}}
 
        {{#block "body"}}
            
        {{/block}}
 
        {{#block "footer"}}
            {{> footer}}
        {{/block}}
    </body>
</html>